NewsCatcher/app_client/db/db.pogled.html
<navigacija></navigacija>
<div class="container">
	<form class="reset" role="form" method="POST" ng-submit="vm.ustvariPodatke()">
		<button class="btn btn-success" type="submit">Testni podatki</button> 
	</form>
	<form class="reset" role="form" method="POST" ng-submit="vm.izbrisiPodatke()">
		<button class="btn btn-danger" type="submit">Izbriši podatke</button> 
	</form>

	<p ng-bind="vm.sporocilo"></p>
		<noga></noga>
</div>

NewsCatcher/app_server/views/db.pug
doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Bralnik RSS virov
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
	body
		form.reset(role="form" method="POST" action="/api/db/ustvari")
			button.btn.btn-success(type="submit") Testni podatki
		form.reset(role="form" method="POST" action="/api/db/izbrisi")
			button.btn.btn-danger(type="submit") Izbriši podatke
